.project-container {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.project-card {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
	border: 1px solid black;
}

.project-card-body {
	padding: 10px;
}

.project-card-body a {
	text-decoration: underline;
	color: black;
}

.project-card-title {

}