<!DOCTYPE html>
<html>

<head>
    <title>Sheriff's Homepage | Home</title>
    <link rel="icon" href="/static/img/rsz_portrait.jpg">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <script src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mb-0 h1" id="nav-brand" href="/">Sheriff Olaoye</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active" id="navbar-item">
                    <a class="nav-link " href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" id="navbar-item">
                    <a class="nav-link" href="projects">Projects</a>
                </li>
                <li class="nav-item" id="navbar-item">
                    <a class="nav-link" href="https://s3.amazonaws.com/sheriffolaoye.com/resume.pdf" target="_blank">Resume</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="home-container">
        <div class="welcome">
            <img src="/static/img/portrait.jpg">

            <div class="welcome-text">
                <h4>Welcome to Sheriff Olaoye's Homepage</h4>
                
                <a class="button" href="https://github.com/sheriffolaoye" target="_blank">Go to Github</a>, 
                <a class="button" href="https://s3.amazonaws.com/sheriffolaoye.com/resume.pdf" target="_blank">My resume</a>
            </div>
        </div>

        <div style="clear:both"></div>
        <div class="article">
            <h4>This website's architecture</h4>
            <p>
            </p>

	    <p>
		This website uses:       
            </p>
            <ul>
		<li><strong>EC2</strong>: This is a website running on an EC2 t2.nano linux server.</li>
                <li><strong>Nginx</strong>: As a reverse proxy server. Requests to the website's rest API(rest.sheriffolaoye.com) are proxied to gunicorn, a Python WSGI HTTP server, running as a systemctl service. Requests to sheriffolaoye.com are handled normally by nginx.</li>
                <li><strong>Gunicorn</strong>: WSGI HTTP server for running the rest api Flask web app.</li>
                <li><strong>Flask</strong>: The rest api was built using Flask.</li>
                <li><strong>MySQL</strong>: Database for storing repository information.</li>
                <li><strong>Cron Job</strong>: For running a python script that regularly updates the database with the latest repository information.</li>
                <li><strong>Route 53</strong>: For the Domain Name Service(DNS).</li>	
            </ul>
            <p>
                View <a href="https://github.com/sheriffolaoye/aws-website" target="_blank">source code</a> for
                the website on Github. This project was inspired by <a href="https://devoncrawford.io" target="_blank">Devon
                    Crawford's</a> website.
            </p>
        </div>

        <footer>
            <h4>Social</h4>
            <p>
                <a href="https://www.linkedin.com/in/sheriff-olaoye" target="_blank">LinkedIn</a>     
                    &nbsp; |     &nbsp;
                <a href="https://github.com/sheriffolaoye" target="_blank">GitHub</a>
                    &nbsp; |     &nbsp;
                <a href="https://twitter.com/sheriff_olaoye" target="_blank">Twitter</a>
                    &nbsp; |     &nbsp;
                <a href="https://www.youtube.com/channel/UCc8obrkxDLhMuWzANrjgaQA" target="_blank">YouTube</a>
            </p>
        </footer>
    </div>
</body>

</html>
