<!DOCTYPE html>
<html>

<head>
    <title>Sheriff's Homepage | Projects</title>
    <link rel="icon" href="/static/img/rsz_portrait.jpg">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mb-0 h1" id="nav-brand" href="/">Sheriff Olaoye</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" id="navbar-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active" id="navbar-item">
                    <a class="nav-link" href="projects">Projects<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="projects">
        <div id="project-container">
            {% if projects %}
                {% for proj in projects  %}
                <div class='project-card'>
                    <div class='project-card-body'>
                        <h4 class='project-card-title'>
                            <strong>
                                {{ proj["Name"] }}
                            </strong>
                        </h4>
                        <p>
                            {{ proj["Description"] }}
                            <br>Language: {{ proj["Language"] }}
                            <br>Date Created: {{ proj["DateCreated"] }}
                        </p>
                        <a href='{{ proj["HtmlLink"] }}'  target='_blank'>View on GitHub</a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h3 style="text-align:center;margin:100px;">There are no projects to show</h3>
            {% endif %}
        </div>
    </div>

    <footer>
        <h3>Social</h3>
        <p>
            <a href="https://www.linkedin.com/in/sheriff-olaoye" target="_blank">LinkedIn</a>     
                &nbsp; |     &nbsp;
            <a href="https://github.com/sheriffolaoye" target="_blank">GitHub</a>
                &nbsp; |     &nbsp;
            <a href="https://twitter.com/sheriff_olaoye" target="_blank">Twitter</a>
                &nbsp; |     &nbsp;
            <a href="https://www.youtube.com/channel/UCc8obrkxDLhMuWzANrjgaQA" target="_blank">YouTube</a>
        </p>
    </footer>
</body>

</html>
