body {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}


/* ----------------- Navigation -----------------*/
#nav-brand {
    margin-left: 9%;
}

#navbar-item {
    margin-left: 6%;
}

/* ----------------- Index.html Style -----------------*/
.home-container {
    float: left;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}

.welcome {
    margin-top: 10px;
    height: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ededed;
}

.welcome img {
    float: left;
    height: 100%;
}

.welcome-text {
    width: 40%;
    float: left;
    padding: 20px;
    text-align: center;
}

.article {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.home-container a {
	text-decoration: underline;
	color: black;
}

.home-container a:hover {
	text-decoration: none;
	color:black;
}


/* ----------------- Projects.html Style -----------------*/
#loading-img {
    width: 250px;
    margin: 50px auto;
}

.projects {
    width: 100%;
    float: left;
    margin-top: 10px; 
}

#project-container {
    width: 80%;
    margin: 0px auto;
    padding: 0;
}

.project-card {
    width: 100%;
    float: left;
    margin: 5px auto 5px auto;
	border: 1px solid black;
}

.project-card-body {
    padding: 10px;
    overflow: auto;
}

.project-card-body a {
	text-decoration: underline;
	color: black;
}


/* ----------------- Footer Style -----------------*/
footer {
    float: left;
    margin: 30px auto 30px auto;
    width: 100%;
    text-align: center;
}

footer a {
    color: black;
}

footer a:hover {
    text-decoration: none;
}


@media screen and (max-width: 500px){
    #nav-brand {
        margin-left: 6%;
    }

    .welcome {
        margin-top: 10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }
    
    .welcome img {
        float: left;
        width: 100%;
        height: auto;
    }
    
    .welcome-text {
        width: 80%;
        float: left;
        padding: 20px;
        text-align: center;
    }
}