body {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}


/* ----------------- Navigation -----------------*/

nav {
    width: 100%;
    background-color: black;
    height: 65px;
    float: left;
    font-size: 20px;
}

nav ul {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

nav ul li {
    float: left;
    list-style-type: none;
}

nav ul li a {
    padding: 22px 14px;
    color: white;
    text-decoration: none;
}

nav .brand {
    margin-left: -20px;
    padding: 0px;
    margin-right: 65px;
}

nav .active {
    background-color: #ededed;
    color: black;
}

nav ul .nav-link a:hover {
    background-color: #ededed;
    color: black;
}

/* ----------------- Index.html Style -----------------*/
.home-container {
    float: left;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}

.welcome {
    margin-top: 10px;
    height: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ededed;
}

.welcome img {
    float: left;
    height: 100%;
}

.welcome-text {
    width: 40%;
    float: left;
    padding: 20px;
    text-align: center;
}

.article {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.home-container a {
	text-decoration: underline;
	color: black;
}

.home-container a:hover {
	text-decoration: none;
	color:black;
}


/* ----------------- Projects.html Style -----------------*/
.projects {
    width: 100%;
    float: left;
    margin-top: 10px; 
}

#project-container {
    width: 80%;
    margin: 0px auto;
    padding: 0;
}

.project-card {
    width: 100%;
    float: left;
    margin: 5px auto 5px auto;
	border: 1px solid black;
}

.project-card-body {
	padding: 10px;
}

.project-card-body a {
	text-decoration: underline;
	color: black;
}


/* ----------------- Footer Style -----------------*/
footer {
    float: left;
    margin: 30px auto 30px auto;
    width: 100%;
    text-align: center;
}

footer a {
    color: black;
}

footer a:hover {
    text-decoration: none;
}